# Language and Standard
Language: Cpp
Standard: c++20
BasedOnStyle: LLvm

AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
# BreakTemplateDeclarations: Yes
BinPackParameters: OnePerLine
BreakAfterAttributes: Always
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
ReflowComments: false

BreakBeforeBraces: Linux
AllowShortEnumsOnASingleLine:  false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignFunctionDeclarations: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true

NamespaceIndentation: All
