# Language and Standard
Language: Cpp
Standard: c++20

BasedOnStyle: LLvm
IndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: OnePerLine
